<%= form_tag students_path do %>

  <label>Student Form:</label><br>
  <textarea id="first_name" name="first_name"></textarea><br>
  <textarea id="last_name" name="last_name"></textarea><br>

  <input type="submit" value="Submit Student">
<% end %>
